<div class="container">
    <div class="contact">
        <h1>Contact</h1>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque risl consectetur. fusce dapibus, tellus ac cursus commodo.</p>
           <form>
                <div class="message">
                    <label for="email">Your E-mail</label>
                    <input type="text" name="email" placeholder="Your E-mail" />
                    <label for="message">Your message</label>
                    <textarea placeholder="please enter your message here..."> </textarea>
                    <button type="button" class="btn">Submit</button>
                </div>
            </form>
    </div>
</div>