<!-- your html code here -->
 <!-- Lovnyth Valcin --> 
<div class="container">
    <div class="row">
        <div class="col-3">
        <h2>The First Heading</h2>
        </div>
        <div class="col-4">
        <h2 class="text-secondary">Will Catch Your Eye</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <p>Here is a paragraph text to fill this space of the website within 
                the first heading which I am working on in my team of three as I
                am learning software development and how git is used to work on teams.
                It seems like such a great tool.
            </p>
        </div> 
        
        <div class="col-5">
       
        <img class="rounded-circle h-50 w-50 max-width: 100% height: auto" src="https://preview.redd.it/ehjqj4vz7nk41.jpg?width=1080&crop=smart&auto=webp&s=ce07bd67acba71a8c126433f002815f0b1af3bef">  
         
    </div>
    </div> 
</div>