<!-- your html code here -->
 <!-- Lovnyth Valcin --> 
<div class=container>
        <h2>The First Heading</h2> <h2 class="text-secondary">Will Catch Your Eye</h2>
            <p>Here is a paragraph text to fill this space of the website within <br>
                the first heading which I am working on in my team of three as I<br>
                am learning software development and how git is used to work on teams.<br>
                It seems like such a great tool.
            </p>
   
   
        <img class=" d-flex rounded-circle h-25 w-25" src="https://preview.redd.it/ehjqj4vz7nk41.jpg?width=1080&crop=smart&auto=webp&s=ce07bd67acba71a8c126433f002815f0b1af3bef">  
   
</div>